#list{
    width: 200px;
    height: 1200px;
    border-style: solid;
    border-color: black;
    position:absolute;

}
#button-begin{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    width: 150px;
    height: 40px;
    border-color: #000000;
    border-radius: 10px;
    background-color: white;
    outline: none;
}

#button-begin:hover {
    background-color: #060606;
    color: #ffffff;
    font-size: 16px;
}

#retry{
    display: none;
    margin-left:120px;
    text-decoration: none;
}

#answer{
    font-size: 20px;
    text-align:  center;
    display: none;
}
#window{
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-style: solid;
    border-color: black;
    width: 400px;
    height: 200px;
}

.answer{
    margin-left: 30px ;
    width: 150px;
    height: 40px;
    border-color: #000000;
    border-radius: 10px;
    background-color: white;
    outline: none;
}
.answer:hover{
    background-color: #060606;
    color: #ffffff;
    font-size: 16px;
}

#button-box{
    margin-top: 20px;
}

#label1{
    margin-top: 20px;
    font-size: 20px;
    text-align:  center;
}

#way{
    left: 50%;
    font-size: 16px;
    text-align:  center;
}
#questions{
    margin-top: 5px;
    text-align: center;
}
#question{
    font-size: 25px;
}




#akinator{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
    font-size: 40px;
}
